/* =======DEFAULT CSS START========= */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.mid-content{
    max-width: 1000px;
    margin: auto;
}
.btn{
    background-color: #c69453;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
/* =======DEFAULT CSS END========= */
/* =======HEADER CSS START======== */
.header{
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.132);
    position:absolute;
    z-index: 999;
    width: 100%;
}
.header-logo{
    width: 30%;
}
.header-logo img{
    width: 200px;
}
.header-menu{
    width: 70%;
}
.header-menu nav{
    text-align: right;
}
.header-menu nav li{
    display: inline-block;
    padding: 0px 20px;
    position: relative;
}
.header-menu nav li a{
    color: white;
    line-height: 40px;
    font-size: 13px;
}
.header-menu nav li:first-child a{
    color:#c69453 ;
}
.header-menu nav li:hover > a{
    color: #c69453;
}
/* ====DROPDOWN PART CSS==== */
.header-menu nav li nav{
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color:#fff;
    
    transform-origin:center;
    transform: scaleY(0);
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}
.header-menu nav li:hover > nav{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
.header-menu nav li nav li{
    display: block;
    padding: 0;
}
.header-menu nav li nav li a{
    display: block;
    color: black;
    text-align: center;
    transition: .5s;
}
.header-menu nav li nav li:first-child a{
    color:black;
}
.header-menu nav li nav li:first-child a:hover{
    color: #c69453;
}
.header-menu nav li nav li a:hover{
    background-color: rgba(0, 0, 0, 0.208);
}
/* =======HEADER CSS END======== */
/* =======BANNER CSS START======== */
.banner{
    background: url(https://i.ibb.co/wgMFvsy/banner.jpg);
    background-size: cover;
    padding: 150px 0;
    color: #fff;
    position: relative;
    z-index: 1;
}
.banner-title h1{
    font-size: 60px;
}
.banner-title p{
    font-size: 22px;
    font-weight: 600;
    margin: 25px 0;
    position: relative;
}
.banner-title p::after, .banner-title p::before {
	content: "";
	height: 1px;
	width: 70px;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.694);
}
.banner-title p::after{
    top: 13px ;
    left: 670px;
}
.banner-title p::before{
    top: 13px;
    left: 260px;
}
.banner-title a{
    border-radius: 20px;
    transition: .5s;
}
.banner-title a:hover{
    background-color: #fff;
    color:#c69453;
}
/* ====OVERLAY PART===== */
.banner::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.632);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
/* =======BANNER CSS END======== */
/* =======SERVICE CSS START======== */
.service{
    padding: 100px 0;
    background-color: #f9f9f9;
}
.service-item{
    width: 23.5%;
    margin-right: 2%;
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px 0 40px 0;
    text-align: center;
}
.service-item:nth-child(4){
    margin-right: 0;
}
.service-item:hover{
    background-color: #ddd;
}
.service-item:hover a{
    background-color: #fff;
    color: #c69453;
}
.service-item a:hover{
    transform: translateY(10px);
    background-color: black;
    color: #fff;
}
.service-item img{
    transition: .5s;
}
.service-item:hover img{
    transform:rotateY(360deg);
}
.service-item h2 {
	font-size: 14px;
	margin-top: 30px;
}
.service-item p{
	margin: 20px 0 30px 0;
	font-size: 14px;
}
.service-item a{
    transition: .4s;
}
/* =======SERVICE CSS END======== */
/* =======ABOUT CSS START======== */
.about{
    background-color: #f9f9f9;
}
.about-video{
    width: 48%;
}
.about-content{
    width: 48%;
}
.about-content h1{
    font-size: 35px;
}
.about-content h1 span{
    color: #c69453;
}
.about-content p {
	font-size: 13px;
	font-weight: 400;
	margin: 30px 0 30px 0;
    color: #767676;
    line-height: 1.6em;
}
.about-details summary{
    font-size: 20px;
    font-weight: 400;
}
.about-details p{
    margin-top:0px;
}
.about-button a {
	font-size: 15px;
	background: black;
	border-radius: none;
	border-radius: 0px;
    transition: .5s;
}
.about-button a:hover{
    background-color: #c69453;
}
/* =======ABOUT CSS END======== */
/* =======CONTACT CSS START======== */
.contact{
    background: url(https://i.ibb.co/R9z21bs/contact-image.jpg) no-repeat;
    background-size: cover;
    padding: 100px 0;
    background-position:center;
}
.contact-content{
    width: 50%;
}
.contact-empty{
    width: 50%;
}
.contact-content h1{
    font-size: 30px;
}
.contact-content p{
    margin: 30px 0;
    font-size: 13px;
	font-weight: 400;
    color: #767676;
    width: 650px;
    line-height: 1.6em;
}
.name,.email,.tel,.message,.submit{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding-left: 10px;
    border: 1px solid #ddd;
    outline:none;
}
.name:focus,.email:focus,.tel:focus,.message:focus{
    outline: 2px solid #1c1e1d;
}
form{
    width: 100%;
}
form .message{
    height: 150px;
    padding-top: 10px;
}
form .submit{
    width: 150px;
    border-radius: 0;
}
/* =======CONTACT CSS END======== */
/* =======FOOTER CSS START======== */
.footer{
    background-color: #6d6d6d;
    padding: 40px 0;
}
.footer-menu h2{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.722);
    font-weight: 400;
}
.footer-icon{
    text-align: center;
}
.footer-icon li{
    display: inline-block;
    padding-left: 20px;
    color: #fff;
}
.footer-icon i{
    font-size: 15px;
}
/* =======FOOTER CSS END======== */
